<nav class="navbar navbar-expand-sm w-100">
  <ul class="navbar-nav d-flex justify-content-between w-100">
    <li class="nav-item">
      <a class="nav-link text-danger" href="{{ 'work' | relative_url }}"><i class="bi bi-code-square"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="https://www.github.com/jeffcaldwellca"><i class="bi bi-github"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="https://www.linkedin.com/in/jeffcaldwellca/"><i class="bi bi-linkedin"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="mailto:jeff@somecorp.dev"><i class="bi bi-envelope-at"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="{{ 'blog' | relative_url }}"><i class="bi bi-chat-left-text"></i></a>
    </li>
  </ul>
</nav>
