<nav class="navbar navbar-expand-sm justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item ml-5">
      <a class="nav-link text-danger" href="https://www.somecorp.dev"><i class="bi bi-upc"></i></a>
    </li>
    <li class="nav-item ml-5">
      <a class="nav-link text-danger" href="https://www.github.com/jeffcaldwellca"><i class="bi bi-github"></i></a>
    </li>
    <li class="nav-item ml-5">
      <a class="nav-link text-danger" href="mailto:jeff@somecorp.dev"><i class="bi bi-envelope-at"></i></a>
    </li>
    <li class="nav-item ml-5">
      <a class="nav-link text-danger" href="{{ 'pings' | relative_url }}"><i class="bi bi-mic"></i></a>
    </li>
    <li class="nav-item ml-5">
      <a class="nav-link text-danger" href="{{ 'blog' | relative_url }}"><i class="bi bi-chat-left-text"></i></a>
    </li>
  </ul>
</nav>