<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <div class="container">
      <h2 class="my-4">{{ page.title }}</h2>
      <p><a href="/">&lt; back</a></p>
      {% for ping in site.pings reversed %}
      <div class="row">
        <div class="col-10">
        
          {% include ping.html feeling=ping.feeling content=ping.content date=ping.date %}
        
        </div>
        <div class="col-2"><i class="bi bi-{{ ping.icon }}"></i></div>
      </div>
      {% endfor %}
      {% include nav.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
